@model AccountingSuite.Models.Master.Party

<h5>Confirm Delete</h5>
<p>Are you sure you want to delete <strong>@Model.Name</strong>?</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="row">Party Code</th>
                <td>@Model.PartyCode</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th scope="row">Party Type</th>
                <td>@Model.PartyType</td>
            </tr>
            <tr>
                <th scope="row">GSTIN</th>
                <td>@Model.GSTIN</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th scope="row">Contact Number</th>
                <td>@Model.ContactNumber</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>@Model.StateName</td>
            </tr>
            <tr>
                <th scope="row">Active</th>
                <td>
                    @if (Model.IsActive)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inactive</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PartyId" />
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>


