@model AccountingSuite.Models.Master.Party

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Party Code</th>
            <td>@Model.PartyCode</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Party Type</th>
            <td>@Model.PartyType</td>
        </tr>
        <tr>
            <th>GSTIN</th>
            <td>@Model.GSTIN</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>@Model.ContactNumber</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>@(Model.IsActive ? "Yes" : "No")</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-end gap-2 mt-3">
    <button class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            onclick="loadEdit(@Model.PartyId)">
        Edit
    </button>

    <button class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            onclick="loadDelete(@Model.PartyId)">
        Delete
    </button>

    <button class="btn btn-outline-dark" data-bs-dismiss="modal">
        Close
    </button>
</div>
